.about {
	padding-top: 50px;
	/* @media (prefers-reduced-motion: no-preference) {
		transition: all 0.6s ease-in-out;

		animation: animate-from-bottom 0.6s ease-in-out forwards;

		@keyframes animate-from-bottom {
			0% {
				opacity: 0;
				filter: blur(1px);
				transform: translateY(60%);
			}
			100% {
				opacity: 1;
				filter: blur(0);
				transform: translateX(0);
			}
		}
	} */
}
