.main-nav {
	// position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	z-index: 1000;
	transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
	padding-block: 1.2rem;

	&.bg-primary {
		padding-block: 0.9rem;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		max-height: 72px;
		min-height: 72px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.logo {
		font-weight: 400;
		font-size: 1rem;

		a {
			font-size: 16px;
			&:hover {
				background-color: transparent;
			}
		}
	}

	.navbar-toggler,
	.navbar-toggler-icon {
		z-index: 1000;
	}

	.navbar-toggler {
		&-icon {
			transition: all 0.8s ease-in-out;
		}

		&.animate-show {
			.navbar-toggler-icon {
				transform: matrix(1, 0, -1.6, 1, 0, 0);
			}
		}
	}

	.navbar-collapse {
		flex-grow: unset;
		@include media-breakpoint-down(lg) {
			flex-grow: 1;
		}

		/* &.show {
			.navlinks {
				// transform: translate3d(0, 0, 0);
			}
		} */
	}

	.navlinks {
		display: flex;
		align-items: center;
		min-height: 100%;
		height: 100%;

		//! MOBILE START
		@include media-breakpoint-down(lg) {
			position: fixed;
			top: 0;
			right: 0;
			max-width: 300px;
			height: 100vh;
			width: 300px;
			background: linear-gradient($primary 0%, #000 80%);
			opacity: 0.96;
			overflow-y: visible;
			text-align: left;
			transform: translate3d(300px, 0, 0);
			transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			z-index: 1001;

			li {
				width: 100%;
				display: flex;
				align-content: center;
				justify-content: center;

				&:first-child {
					margin-top: 53px;
				}

				a {
					width: 100%;
					font-size: 1rem;
					padding-block: 12px;
					margin-inline: 1rem;
				}
			}
			//! MOBILE END
		}

		@include media-breakpoint-down(sm) {
			max-width: 55vw !important;
			width: 100%;
		}

		li {
			&:not(&:last-child) {
				padding-right: 4px;
			}
		}
	}

	li {
		list-style-type: none;
	}

	a {
		font-size: 15px;
		text-decoration: none;
		padding: 0.6rem 0.75rem;
		color: rgb(241, 241, 241);
		font-weight: 400;
		background-color: transparent;
		border-radius: 4px;
		transition: background-color 0.25s ease-in-out;

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
			color: rgb(241, 241, 241);
		}
	}
}
